* {
    box-sizing: border-box;
    
}

:root {

--primaryColor: grey;
--secondaryColor: purple;
--shadowText: black 1px 1px;
--paddingTop: 10px;
--fontTitle: 'Pacifico', cursive;

}


body {
    
    background-image: url("/Images/backImage.jpeg");
    
}

.gif {
    
    height: 185px;
    display: flex;
    justify-content: center;
    padding-top: var(--paddingTop);
 
    
}

.gif > img {
    border-radius: 10px;
    
}

h1 {
    color: var(--primaryColor);
    text-shadow: var(--shadowText);
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: var(--paddingTop);
    background-color: var(--secondaryColor);
    font-family: var(--fontTitle);
    border-radius: 10px;
    
}

.form {
    
}