* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(/Images/Background.jpeg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Logo {
    display: flex;
    width: 70px;
}


.Picturehome img {
    width: 100%;
    height: 550px;
    padding-top: 50px;
    border-radius: 15%;


}

.typotype {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.typotype>h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 50px;
    color: #424875;
}

.typotype>h3 {
    font-size: 25px;
    padding-top: 20px;
    color: rgb(96, 8, 96)
}

.nextbutton {
    display: flex;
    justify-content: center;
    padding-top: 150px
}

button {
    width: 50%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px black;
}

.navbar {
    display: flex;
    margin: 10px;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}


.navbar li {
    display: flex;
    color: rgb(96, 8, 96);
    font-weight: bold;

}

.navbar .menu-hamb {
    width: 35px;
    position: absolute;
    top: 30px;
    right: 30px;
}

@media screen and (max-width : 800px) {

    .nav-links {
    display: none;
    }


    .navbar .menu-hamb {
display: block;
    }
}